body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://web-assets.esetstatic.com/wls/2019/11/algoritmos-privacidad-datos.jpg');
    background-size: cover; 
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}

h1{
    text-align: center;
}
.content {
    text-align: center;
    padding: 20px;
}

.li-1 {
    background-color: rgba(29, 154, 226, 0.4); 
    border: 1px solid #072742;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

.li-1:hover {
    background-color: #072742; 
    cursor: pointer;
}


#searchInput {
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #072742; 
    border-radius: 4px;
}

.references {
    text-align: center;
}

.reference-link {
    color: white;
    text-decoration: underline;
}

.reference-link:hover {
    color: #BA55D3;
}

video {
    border: 3px solid rgb(5, 131, 248);
  }

 
#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}